@font-face {
  font-family: "Playball"; /*a name to be used later*/
  src: url("./../fonts/Playball-Regular.ttf"); /*URL to font*/
}
@font-face {
  font-family: "DobkinScript"; /*a name to be used later*/
  src: url("./../fonts/DobkinScript.ttf"); /*URL to font*/
}
@font-face {
  font-family: "Adine Kirnberg"; /*a name to be used later*/
  src: url("./../fonts/Adine Kirnberg.ttf"); /*URL to font*/
}
body,
button,
input,
select,
textarea {
  color: #666666;
  line-height: 1.6;
  font-size: 100% !important;
}
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
  margin-bottom: 10px;
}
ul {
  list-style: disc;
  font-size: 15px !important;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
.region-header .brand a {
  font-size: 19px;
}
.node__content ul,
ol {
  margin: 0 0 1.5em 2em;
  margin-top: 0px;
  margin-bottom: 1.5em;
  margin-left: 2em;
  font-size: 15px !important;
}
.catering-title {
  margin-top: 10px;
}
.catering-title,
.deluxe-title,
.bbq-title,
.engagement-title,
.fiesta-title,
.italian-title,
.american-title,
.american-con-title,
.asian-title,
.authentic-title,
.classic-title,
.hawaii-title {
  font-family: Playball;
  font-size: 30px;
  font-weight: bold;
  color: #b22222;
  padding-top: 20px;
  padding-bottom: 10px;
}
.catering {
  background-image: url("./../content_images/catering.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
  border-radius: 20px;
  border: 1px solid #ccc;
  max-width: 1000px;
}
.catering-menu {
  margin-top: 15px !important;
}
.body-menu {
  font-family: Playball;
  font-size: 18px;
}
.menu-body {
  line-height: 26px;
}
.menu-lunch,
.menu-deluxe,
.menu-asian_delight,
.menu-american_continental,
.menu-bbq,
.menu-fiesta-mexicana,
.menu-italian_touch,
.menu-american_traditional,
.menu-authentic_vietnamese,
.menu-classic_delight,
.menu-hawaii_luau,
.boxed_meal_menu,
.menu-engagement,
.catering {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0;
  font-size: 14px;
}
.menu-lunch {
  background-image: url("./../content_images/lunch_bg1.jpg");
  background-color: #cccccc;
  border-radius: 20px;
  border: 1px solid #ccc;
  max-width: 1000px;
}
.menu-deluxe {
  background-image: url("./../content_images/deluxe_bg1.jpg");
  background-color: #cccccc;
  border-radius: 20px;
  border: 1px solid #ccc;
  max-width: 910px;
  background-image: url("./../content_images/deluxe_bg1.jpg");
  background-color: #cccccc;
  border-radius: 20px;
  padding-bottom: 20px;
  border: 1px solid #ccc;
  max-width: 910px;
}
.menu-asian_delight {
  background-image: url("./../content_images/asian_delight_bg1.jpg");
  background-color: #cccccc;
  border-radius: 20px;
  border: 1px solid #ccc;
  max-width: 1000px;
}
.menu-american_continental {
  background-image: url("./../content_images/american_continental_bg1.jpg");
  background-color: #cccccc;
  border-radius: 20px;
  border: 1px solid #ccc;
  max-width: 1000px;
}
.menu-bbq {
  background-image: url("./../content_images/bbq_bg3.jpg");
  background-color: #cccccc;
  border-radius: 20px;
  border: 1px solid #ccc;
  max-width: 1000px;
}
.menu-fiesta-mexicana {
  background-image: url("./../content_images/fiesta_mexicana_bg2.jpg");
  background-color: #cccccc;
  border-radius: 20px;
  border: 1px solid #ccc;
  max-width: 1000px;
}
.menu-italian_touch {
  background-image: url("./../content_images/italian_touch_bg2.jpg");
  background-color: #cccccc;
  border-radius: 20px;
  border: 1px solid #ccc;
  max-width: 1000px;
}
.menu-american_traditional {
  background-image: url("./../content_images/american_traditional_bg1.jpg");
  background-color: #cccccc;
  border-radius: 20px;
  border: 1px solid #ccc;
  max-width: 1000px;
}
.menu-authentic_vietnamese {
  background-image: url("./../content_images/authentic_vietnamese_bg1.jpg");
  background-color: #cccccc;
  border-radius: 20px;
  border: 1px solid #ccc;
  max-width: 1000px;
}
.menu-classic_delight {
  background-image: url("./../content_images/classic_delight_bg1.jpg");
  background-color: #cccccc;
  border-radius: 20px;
  border: 1px solid #ccc;
  max-width: 910px;
}
.menu-hawaii_luau {
  background-image: url("./../content_images/hawaii_luau_bg1.jpg");
  background-color: #cccccc;
  border-radius: 20px;
  border: 1px solid #ccc;
  max-width: 910px;
}
.boxed_meal_menu {
  background-image: url("./../content_images/boxed_meal_menu2.jpg");
  background-color: #cccccc;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin: 0 auto;
  max-width: 910px;
}
.d-flex {
  display: flex;
}
.col {
  flex: 1;
}
.add-title {
  font-size: 20px;
  color: #666666;
  font-weight: bold;
  padding: 10px 0;
}
.menu-title,
.menu-title2 {
  font-family: DobkinScript, Verdana;
  color: #000080;
  font-weight: bold;
  font-size: 32px;
}
tbody tr:hover,
tbody tr:focus {
  background: none;
  border-bottom: none !important;
}
tbody tr {
  border-bottom: none !important;
}
tbody td {
  padding: 5px 10px;
}
.contact-title {
  font-family: DobkinScript;
  font-weight: bold;
  font-size: 55px;
  color: #ff8c00;
}
.rtecenter {
  text-align: center;
}
.faq-question {
  padding-top: 15px;
  padding-left: 20px;
  color: red;
  font-size: 30px;
  font-weight: bold;
  font-family: DobkinScript;
}
.faq-ul-questions-top {
  list-style: decimal;
  font-size: 15px;
  font-weight: bold;
  color: #b61f10;
}
li a.active {
  color: #000;
}
.policy-title {
  font-family: Adine Kirnberg;
  font-size: 53px;
  font-weight: bold;
  color: #191970;
}
.region-header .brand a img {
  height: 50px;
}
.icon {
  display: flex !important;
  justify-content: flex-end;
}
.icon .fas {
  margin-right: 10px;
  line-height: unset !important;
}
.field__item_gallery {
  padding-bottom: 0.5em;
  padding-right: 10px !important;
  padding-left: 10px !important;
}
table.node--type-menu {
  background-color: #333;
  border-collapse: collapse !important;
  color: #fff;
}
table.node--type-menu tr {
  border-bottom: 1px solid #e6e4df !important;
}

.d-inline {
  display: inline-block;
}
table.node--type-menu td {
  padding: 10px 12px !important;
}
@keyframes enter-animation {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .image-animation {
    animation: enter-animation 0.8s 1;
  }
}

@media (min-width: 767px) {
  .main-menu {
    background: #000;
    border-bottom: 0px !important;
  }
  .region-contact-email p a {
    padding: 0;
    display: block;
    color: #fff !important;
  }
}
@media only screen and (max-width: 600px) {
  .catering-title,
  .deluxe-title,
  .bbq-title,
  .engagement-title,
  .fiesta-title,
  .italian-title,
  .american-title,
  .american-con-title,
  .asian-title,
  .authentic-title,
  .classic-title,
  .hawaii-title,
  .menu-title {
    font-size: 20px;
  }
  .menu-lunch,
  .menu-deluxe,
  .menu-asian_delight,
  .menu-american_continental,
  .menu-bbq,
  .menu-fiesta-mexicana,
  .menu-italian_touch,
  .menu-american_traditional,
  .menu-authentic_vietnamese,
  .menu-classic_delight,
  .menu-hawaii_luau,
  .boxed_meal_menu,
  .catering {
    padding: 10px;
  }
  .menu-body {
    font-size: 13px;
  }
}
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    margin: 0 0 1rem 0;
  }

  tr:nth-child(odd) {
    background: #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }


}
